body {
    margin: 0;
    padding: 0;
}

article {
    font-style: oblique;
}


.jumbotron {
    background-image: url(images/team.jpg);
    height: 250px;
    opacity: 0.4;
    background-repeat: repeat;
  }

#app img {
    width: 60%;
    height: 40%;

}

#app h4 {
    padding-top: 50px;
}

.post {
    background-color: rgb(233, 226, 216);
}

#postedMessage {
    margin-left: 33%;
}

.author {
 font-weight: bold;
}

